body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#gridContainer {
    width: 32em;
    height: 32em;
    display: flex;
    border: 40px solid plum;
    border-radius: 20px;
    padding: 2px;
    margin-bottom: 1em;
}

.grid-column {
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: -1px;
}

#gridSquare {
    border: 1px solid gray;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    margin: 0px;
}

.square-background {
    background-color: darkgray;
}

.square-background-plum {
    background-color: plum;
}

.button-container{
    display: flex;
    width: 175px;
    justify-content: space-around;
}




