body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #a7c7e7;
    font-family: 'VT323';
}

h1 {
    font-weight: normal;
    font-size: 60px;
    text-shadow: 3px 3px 3px #967bb6;
}

#gridContainer {
    width: 30em;
    height: 30em;
    display: flex;
    border: 35px solid #7851a9;
    border-radius: 20px;
    padding: .3em;
    margin-bottom: 1em;
    margin-top: -2em;
    background-color: lightgray;
}

.grid-column {
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: -1px;
}

#gridSquare {
    border: 1px solid lightgray;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    margin: 0px;
}

.options-container {
    display: flex;
    width: 31em;
    justify-content: space-between;
}

#sliderContainer {
    display: flex;
    font-size: 14px;
    align-items: center;
}

.button-container { 
    display: flex;
    gap: 13px;
}

button {
    font-family: 'VT323';
    font-size: 24px;
    font-weight: normal;
    width: 4em;
    height: 1.5em;
    background-color: lightgray;
    cursor: pointer;
    border: 2px outset #555555;
}

button:hover {
    background-color: #967bb6;
    border: 2px inset #555555; 
}

#slider {
    -webkit-appearance: none;
    background: lightgray;
    border: 2px outset #555555;
    border-radius: 4px;
    padding: 1px;
    height: 16px;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    cursor: pointer;
    background: #7851a9;
}

#slider::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border-radius: 4px;
    cursor: pointer;
    background: #7851a9;
}






